/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --decor-color: #FF0070;
  --page-bg-image: url(../images/cover-image-dark.png);
  --section-heading-color: #FF0070;
  --decor-text-color: #000000; 
}

:root.theme-dark .title-decor {
  color: var(--decor-text-color);
}
