/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme-light .page {
   /*Вам также нужно будет написать ряд подобных селекторов */
}


:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --page-bg-image: url(../images/cover-image-light.png);
  --decor-color: #353430;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
      --bg-color: #FFF1F7;
      --text-color: #353430;
      --accent-color: #FF8DCB;
      --title-color: #FFC2E6;
      --page-bg-image: url(../images/cover-image-light.png);
  }
}

:root.theme-light .rec-label {
  display: var(--rec-display);
}

@media (prefers-color-scheme: light) {
  :root {
    --decor-color: #353430;
    --rec-display: none;
  }
}